* {
    margin:0;
    padding:0;
    font-size:100%;
}
body {
    margin: auto;
    width: 90%;
    padding: 20px 0;
}
div {
}

.debug {
    background: #eee;
    display: none;
}

/* app */
.controlbox {
    float: right;
    font-family: monospace;
    width: auto;
    background: blue;    
}

.titlebar {
    float: left;
    text-align: center;
    width: 80%;
    background: blue;    
}
.minimized{
    display: none;
}
.maximized{
    display: block;
}
.wform {
    display: block;
    border: 2px #999 solid;
    margin: 5px;
    padding: 1em;
}
.wform:after {
    clear: both;
    content: '';
    width: 0;
    height: 0;
    display: block;
}
.mainpanel{
    background: #fff;
}
/* config */
#account dt, #account dd {
    display:inline;
}

/* gridview */
table.grid {
    border-collapse : collapse;
}
table.grid td, table.grid th {
    border : 1px solid #333;
}
table.grid tr:nth-child(even) {
    background-color: #ccc;
}

/* typed_history rich view */
#F_th .grid { display: none; }
#F_th .raw { display: none; }
#F_th .thdetail {
    display: block;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 45%;
    float: left;
}
#F_th .thdetail .cb{
    position: relative;
    right: 0;
    top: 0;
}
    