<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{data.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{data.servicePath}}{{data.stylesheet}}">
    <script type="text/javascript" src="{{data.servicePath}}link.js"></script>
  </head>
  <body>
    <form id="configform" method="post">
      <dl id="account">
        <dt>
          <label for="username">username</label></dt>
        <dd>
          <input type="text" id="username" name="username" value="{{data.username}}" /></dd>
        <dt>
          <label for="password">password</label></dt>
        <dd>
          <input type="password" id="password" name="password" value="{{data.password}}" /></dd></dl>
      <input type="hidden" id="syncstate" name="syncstate" value="{{date.syncstate}}" />
      <button id="conf" value="config" onclick="setConfigs()">config</button>
    </form>
    <p><button id="pullbtn" onclick="pullLinkData('{{data.pullkey}}')">pull {{data.pullkey}}</button></p>
    <pre>{{data.inspect}}</pre>
  </body>
</html>
